@inherits umbraco.MacroEngines.DynamicNodeContext
@using umbraco.MacroEngines;
@using Umbraco.Web;
@using SimplestStore.Models;
@using umbraco.BusinessLogic;
@using Umbraco.Core.Logging;
@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var homePage = Model.AncestorOrSelf(1);

    //START - Logic to handle the submit of the add to basket forms
    var errorMessage = "";
    var successMessage = "";
    var showErrorMessage = false;
    var showSuccessMessage = false;
    var submitForm = !String.IsNullOrEmpty(Request.Form.ToString());
    if (submitForm)
        {
        if (Request["addToBasket"] == "submit")
            {
            try
                {
                var addedToCart = false;
                var currentBasket = new basketItem();
                var productPage = umbracoHelper.TypedContent(Model.Id);
                if (productPage != null && productPage.Id > 0)
                    {
                    var productPrice = Model.productPrice.ToString();
                    if (!string.IsNullOrEmpty(productPrice))
                        {
                        var productPriceValue = Convert.ToDecimal(productPrice);
                        addedToCart = currentBasket.GetCart().AddProduct(productPage, 1, productPriceValue);
                        }
                    else
                        {
                        addedToCart = currentBasket.GetCart().AddProduct(productPage, 1, 1);
                        }

                    // create some messages and flags to use to show if the product has been added successfully or not
                    if (addedToCart)
                        {
                        showSuccessMessage = true;
                        successMessage = "You have successfully added your product to the basket...";
                        }
                    else
                        {
                        errorMessage = "Opps, There was an error processing your product in the basket.";
                        showErrorMessage = true;
                        }
                    }
                else
                    {
                    errorMessage = "Opps, There was an error getting your product to add to the basket.";
                    showErrorMessage = true;
                    }
                }
            catch (Exception ex)
                {
                var errorMailBody = ex.Message + "\r\n \r\n" + ex.StackTrace + "\r\n \r\n" + ex.InnerException;
                LogHelper.Error(GetType(), "Error adding product to the basket from home page", ex);
                Log.Add(LogTypes.Error, 999, "Error adding product to the basket from home page - \r\n \r\n" + errorMailBody);

                errorMessage = "Opps, There was an error processing your basket";
                showErrorMessage = true;
                }
            }
        }

    if (homePage != null && homePage.Descendants("Basket").Any())
        {
        var basketPage = homePage.Descendants("Basket").First();
        var currentPage = umbracoHelper.TypedContent(Model.Id);
        if (basketPage != null && !string.IsNullOrEmpty(Model.productPrice.ToString()))
            {
            var pagePrice = Model.productPrice.ToString();
            var productPrice = Convert.ToDecimal(pagePrice);
            if (!showSuccessMessage && !showErrorMessage)
                {
                var mediaUrl = "/images/ProductPlaceholder.png";
                if (!string.IsNullOrEmpty(Model.productImage.ToString()))
                    {
                    var mediaItem = umbracoHelper.TypedMedia(Model.productImage.ToString());
                    mediaUrl = mediaItem.Url;
                    }
                <h2>
                    Add to basket
                </h2>
                <div class="row">
                    <form class="form-inline" role="form" method="post" id="@currentPage.Name" name="@currentPage.Name">
                        <div class="form-group col-sm-12 col-md-3">
                            <div class="thumbnail">
                                <img src="@mediaUrl" alt="@currentPage.Name image" />
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-3 col-md-offset-2">
                            <div class="input-group">
                                <div class="input-group-addon">Price</div>
                                <input class="form-control" type="text" placeholder="£00.00" disabled value="@productPrice.ToString("c")" />
                            </div>
                        </div>
                        <div class="form-group text-right col-sm-12 col-md-4">
                            <button id="addToBasket" name="addToBasket" type="submit" class="btn btn-primary" value="submit">Add to Basket</button>
                        </div>
                    </form>
                </div>
                }
            else if (showSuccessMessage)
                {
                <h2>
                    Product added to basket...
                </h2>
                <div role="alert" class="alert alert-success fade in col-sm-12">
                    <p>
                        <strong>
                            Your item has been added to the basket,
                            @if (basketPage != null)
                                {
                                <text> go to the </text>
                                <a href="@basketPage.Url" title="@basketPage.Name"> Basket Page </a>
                                <text> and pay for your products.!!!</text>
                                }
                        </strong>
                    </p>
                </div>
                }
            else if (showErrorMessage)
                {
                <h2>
                    Error adding product to basket...
                </h2>
                <div role="alert" class="alert alert-danger fade in col-sm-12">
                    <p>
                        <strong>
                            There was an error updating your basket, please try again...
                        </strong>
                    </p>
                </div>
                }
            }
        }
}


